name : Reusable Workflow
on: workflow_call
jobs:
    deploy:
        name: Deploy to production
        runs-on: ubuntu-latest
        steps:
            - name: Display message
              run: echo "Deploying to production environment"